{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/meta.html'%}
    <title>{{title}}</title>
    {% include 'includes/css.html'%}
    <!--Ajax-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
{% include 'includes/header.html'%}
{% include 'includes/preloader.html'%}
{% block 'content' %}{% endblock %}
{% include 'includes/footer.html'%}
{% include 'includes/call_button.html' %}
{% include 'includes/scripts.html'%}
<!--Scroll Reveal-->
<script src="https://unpkg.com/scrollreveal"></script>
<script src="{% static 'js/scroll-reveal.js' %}"></script>
</body>
</html>